%br


= form_for(@directory, remote: true, html: {role: :form, 'data-model' => 'directory'}) do |f|

  - if @directory.errors.any?
    #error_explanation
      %h2= "#{pluralize(@directory.errors.count, "error")} prohibited this directory from being saved:"
      %ul
        - @directory.errors.full_messages.each do |msg|
          %li= msg
  
  .row
    .col-md-7
      .form-group
        = f.label :name
        = f.text_field :name, :class => 'form-control'
        %span.help-block


  .row
    .col-md-7
      .form-group
        = f.label :address
        = f.text_field :address, :class => 'form-control'
        %span.help-block

  .row
    .col-md-7
      .form-group
        = f.label :city_id
        = f.grouped_collection_select :city_id, Zone.all, :cities, :name, :id, :name, {}, {:class => "multiselect", :id => "city" }
        %span.help-block


  .row
    .col-md-7
      .form-group
        = f.label :phone
        = f.text_field :phone, :class => 'form-control'
        %span.help-block

  
  .row
    .col-md-7
      .form-group
        = f.label :servicios
        = f.grouped_collection_select :sitem_ids, Service.all, :sitems, :name, :id, :name, {}, {:class => "multiselect", :multiple => "multiple", :id => "example-enableClickableOptGroups" }
        %span.help-block

  .row
    .col-md-12
      .form-group
        = f.label :terms
        = f.text_area :terms, class: 'form-control wysihtml5'
        %span.help-block

  .row
    .col-md-12
      .form-group
        = f.label :description
        = f.text_area :description, class: 'form-control wysihtml5'
        %span.help-block                      


  
  .actions
    = f.submit 'Guardar', class: "btn btn-primary"
    = link_to 'Volver', merchant_path, class: "btn btn-default"
