= form_for @directory do |f|
  - if @directory.errors.any?
    #error_explanation
      %h2= "#{pluralize(@directory.errors.count, "error")} prohibited this directory from being saved:"
      %ul
        - @directory.errors.full_messages.each do |msg|
          %li= msg
  
  .form-group
    %p
    = f.label :name
    = f.text_field :name, :class => 'form-control'
    %p
  .form-group
    %p
    = f.label :address
    = f.text_field :address, :class => 'form-control'
    %p
  .form-group
    %p
    = f.label :phone
    = f.text_field :phone, :class => 'form-control'
    %p
  .form-group
    %p
    = f.label :descripcion
    = f.text_area :descripcion, :class => 'form-control'
    %p

  .form-group
    %p 
      %select#example-enableClickableOptGroups{:multiple => "multiple", :name => "directory[service_id]", :style => "display: none;"}
        - Service.all.each do |service|
          %optgroup{:label => "#{service.name}"}
            - service.sitems.each do |sitem|
              %option{:value => "#{service.id}-#{sitem.id}"} 
                = sitem.name      


    = f.submit 'Crear', :class => 'btn btn-default'  
