.well.text-center{:style => "background-image: url('https://static2.gymadvisor.com/media/home/image/big_13.jpg')"}
  .row
    .col-lg-12.text-center.v-center
      %h1.cd-headline ENCUENTRA TU GIMNASIO
      %p.lead.cd-headline Disfruta de los mejores gimnasios y actividades con pases de 1 día y cuotas mensuales al mejor precio. Sin matrícula ni permanencia
      %form.col-xs-12
        .input-group{:style => "width:600px;text-align:center;margin:0 auto;"}
          %input.form-control.input-lg{:placeholder => "Gimnasios, ciudad, actividad...", :title => "Don't worry. We hate spam, and will not share your email with anyone.", :type => "text"}
            %span.input-group-btn
              %button.btn.btn-lg.btn-primary{:type => "button"} BUSCAR
%p.bg-title
  ¿COMO FUNCIONA? COMPRA TU PASE EN 3 SENCILLOS PASOS
.row
  .col-sm-12.col-xs-12.col-md-4.col-lg-4
    .thumbnail.bootsnipp-thumb
      
  .col-sm-12.col-xs-12.col-md-4.col-lg-4
    .thumbnail.bootsnipp-thumb
      
  .col-sm-12.col-xs-12.col-md-4.col-lg-4
    .thumbnail.bootsnipp-thumb
      

%p.bg-title
  GIMNASIOS DESTACADOS
.row
  .col-xs-12.col-sm-6.col-md-4
    .thumbnail.bootsnipp-thumb.prod-text
      = image_tag "gym1.jpg", class: "th"
      %p.pull-right
        $12.000
      %p.lead.snipp-title
        Sport life
        %br
        Providencia
        %br
        20% | 1 dia
  .col-xs-12.col-sm-6.col-md-4
    .thumbnail.bootsnipp-thumb
      = image_tag "gym2.jpg", class: "th"
      %strong Sport Life
      %br
      Providencia
      .row.row.centered
        .col-xs-12.col-sm-6.col-md-8.col-centered.text-red
          23% | 1 dia
        .col-xs-6.col-md-4.col-centered
          %button.btn.btn-primary{:type => "button"} $12.000      
  .col-xs-12.col-sm-6.col-md-4
    .thumbnail.bootsnipp-thumb
      = image_tag "gym3.jpg", class: "th"
      %strong Sport Life
      %br
      Providencia
      .row.row.centered
        .col-xs-12.col-sm-6.col-md-8.col-centered.text-red
          23% | 1 dia
        .col-xs-6.col-md-4.col-centered
          %button.btn.btn-primary{:type => "button"} $12.000
%p.bg-title
  GIMNASIOS POR ACTIVIDADES
.row
  .col-sm-12.col-xs-12.col-md-4.col-lg-4
    .thumbnail.bootsnipp-thumb
      = image_tag "gym1.jpg", class: "th"
  .col-sm-12.col-xs-12.col-md-4.col-lg-4
    .thumbnail.bootsnipp-thumb
      = image_tag "gym2.jpg", class: "th"
  .col-sm-12.col-xs-12.col-md-4.col-lg-4
    .thumbnail.bootsnipp-thumb
      = image_tag "gym3.jpg", class: "th"        
  

   

      
          
        
      
  


         
