.row
  .col-md-11
    %h1 
      = @directory.name
    .address
      = @directory.address + ", " + @directory.city.name + ", " + "Chile"
      %i.fa.fa-map-marker.fa-lg
.row
  .col-sm-7.nopadding
    .well.directory
      = render "carousel" 
    .row
      .col-sm-12
        .well.directory
          = render "tab"      
  .col-sm-5.nopadding
    .well.directory
      .section-title
        Matrícula gratis en todos los pases
      = form_tag(cart_url, :method => "get") do
        .btn-group-vertical.btn-block{"data-toggle" => "buttons"}
          - @directory.accesses.each do |access|
            %label.btn.btn-primary
              %input#option1{:autocomplete => "off", :name => "id", :value => access.id,  :type => "radio"}                
                .row
                  .col-md-8.text-left 
                    %h5
                      = access.type_access.name
                  .col-md-4.text-left 
                    %h5
                      = clp(access.price)
        = submit_tag 'COMPRAR', class: "btn btn-extra btn-lg btn-block"

    .row
      .col-md-12
        .well.directory
          .section-title
            Horarios y ubicación 
          %table.table.table-striped
            %tr
              %td Lunes
              %td.text-right 07:00-23:00 h
            %tr
              %td Martes
              %td.text-right 07:00-23:00 h
            %tr
              %td Miercoles
              %td.text-right 07:00-23:00 h                  
            %tr
              %td Jueves
              %td.text-right 07:00-23:00 h
            %tr
              %td Viernes
              %td.text-right 07:00-23:00 h
          #map
            = render "map"
             

    
                            

- if @access 
  #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4#myModalLabel.modal-title Forma de pago
        .modal-body
          %h4
            %strong 
              = @access.directory.name
          %h5 
            %p 
              %strong Tipo de pase: 
              = @access.type_access.name
            %p
              %strong Total a pagar: 
              = clp(@access.price)
          %br  
          = image_tag ("transbank.jpg")
        .modal-footer
          %button.btn.btn-extra.btn-lg{:type => "button"} REALIZAR PAGO  
