= form_for @access do |f|
  - if @access.errors.any?
    #error_explanation
      %h2= "#{pluralize(@access.errors.count, "error")} prohibited this access from being saved:"
      %ul
        - @access.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    %p
    = f.label :name
    = f.text_field :name, :class => 'form-control'
    %p
    

  .form-group
    %p
    = f.label :price
    = f.text_field :price, :class => 'form-control'
    %p  

  .actions
    = f.submit 'Save'
